@page "/polls/new"
@attribute [Authorize(Policy = PolicieRoles.Speaker)]
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject IPollClientService pollService

<MatSnackbar @bind-IsOpen="@snackBarIsOpen">
    <MatSnackbarContent>Hubo un error al crear una nueva encuesta: @message </MatSnackbarContent>
</MatSnackbar>
<div class="row justify-content-center">

    @if (isLoading)
    {
        <MatProgressBar Indeterminate="true"></MatProgressBar>
    }
    else
    {
        <AutoSaveEditForm Id="form-poll" Model="poll" OnValidSubmit="FormSubmitted">
            <DataAnnotationsValidator />
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell-span-12">
                        <MatCard class="demo-mat-card">
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Nueva Encuesta
                                </MatHeadline6>

                            </div>
                            <MatCardContent>
                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    <p>
                                        <MatTextField @bind-Value="@poll.Question" Label="Pregunta" FullWidth="true"></MatTextField>
                                        <ValidationMessage For="@(() => poll.Question)" />

                                    </p>
                                    <p>
                                        <MatTextField @bind-Value="@poll.Answer1" Label="Respuesta 1" FullWidth="true"></MatTextField>
                                        <ValidationMessage For="@(() => poll.Answer1)" />
                                    </p>
                                    <p>
                                        <MatTextField @bind-Value="@poll.Answer2" Label="Respuesta 2" FullWidth="true"></MatTextField>
                                        <ValidationMessage For="@(() => poll.Answer2)" />
                                    </p>
                                    <p>
                                        <MatTextField @bind-Value="@poll.Answer3" Label="Respuesta 3" FullWidth="true"></MatTextField>
                                        <ValidationMessage For="@(() => poll.Answer3)" />
                                    </p>
                                    <p>
                                        <MatTextField @bind-Value="@poll.Answer4" Label="Respuesta 4" FullWidth="true"></MatTextField>
                                        <ValidationMessage For="@(() => poll.Answer4)" />
                                    </p>
                                </MatBody2>
                            </MatCardContent>
                            <MatCardActions>
                                <MatCardActionButtons>
                                    <MatButton Raised="true" Type="submit" Icon="@MatIconNames.Add">Nuevo</MatButton>
                                </MatCardActionButtons>

                                <MatCardActionIcons>
                                    <MatIconButton Icon="@MatIconNames.Close" OnClick="CancelClickHandle"></MatIconButton>
                                </MatCardActionIcons>
                            </MatCardActions>
                        </MatCard>
                    </div>
                </div>
            </div>
        </AutoSaveEditForm>
    }
</div>


@code {
    public NewPoll poll = new NewPoll();
    bool isLoading = true;
    bool snackBarIsOpen = false;
    string message = string.Empty;

    protected override void OnInitialized()
    {
        isLoading = false;
        StateHasChanged();
    }

    async Task FormSubmitted(EditContext editContext)
    {
        if (editContext.Validate())
        {
            isLoading = true;
            StateHasChanged();

            Response res = await pollService.CreatePollAsync(poll);

            if (res.Success)
            {
                navigationManager.NavigateTo($"/polls");
            }
            else
            {
                message = res.Message;
                snackBarIsOpen = true;
                isLoading = false;
                StateHasChanged();
            }
        }
    }

    void CancelClickHandle()
    {
        navigationManager.NavigateTo($"/polls");
    }

}
