@page "/users/new"
@attribute [Authorize(Policy = PolicieRoles.Admin)]
@inject NavigationManager navigationManager
@inject IUserClientService userService

<MatSnackbar @bind-IsOpen="@snackBarIsOpen">
    <MatSnackbarContent>Hubo un error al crear un nuevo usuario: @message </MatSnackbarContent>
</MatSnackbar>
<div class="row justify-content-center">

    @if (isLoading)
    {
        <MatProgressBar Indeterminate="true"></MatProgressBar>
    }
    else
    {
        <EditForm Model="User" OnValidSubmit="FormSubmitted">
            <DataAnnotationsValidator />
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell-span-12">
                        <MatCard class="demo-mat-card">
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Nuevo Usuario
                                </MatHeadline6>

                            </div>
                            <MatCardContent>
                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    <p>
                                        <MatTextField @bind-Value="@User.Username" Label="Email" FullWidth="true"></MatTextField>
                                        <ValidationMessage For="@(() => User.Username)" />

                                    </p>
                                </MatBody2>
                            </MatCardContent>
                            <MatCardContent>
                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    <p>
                                        <MatSelectItem @bind-Value="User.Role" Items="@valueItems">
                                        </MatSelectItem>
                                    </p>
                                </MatBody2>
                            </MatCardContent>
                            <MatCardActions>
                                <MatCardActionButtons>
                                    <MatButton Raised="true" Type="submit" Icon="@MatIconNames.Add">Nuevo</MatButton>
                                </MatCardActionButtons>

                                <MatCardActionIcons>
                                    <MatIconButton Icon="@MatIconNames.Close" OnClick="CancelClickHandle"></MatIconButton>
                                </MatCardActionIcons>
                            </MatCardActions>
                        </MatCard>
                    </div>
                </div>
            </div>
        </EditForm>
    }
</div>


@code {
    public User User = new User();
    bool isLoading = false;
    bool snackBarIsOpen = false;
    string message = string.Empty;

    UserRole[] valueItems = Enum.GetValues(typeof(UserRole)).Cast<UserRole>().ToArray();


    async Task FormSubmitted(EditContext editContext)
    {
        if (editContext.Validate())
        {
            isLoading = true;
            StateHasChanged();

            Response res = await userService.CreateUserAsync(User);

            if (res.Success)
            {
                navigationManager.NavigateTo("users");
            }
            else
            {
                message = res.Message;
                snackBarIsOpen = true;
                isLoading = false;
                StateHasChanged();
            }
        }
    }

    void CancelClickHandle()
    {
        navigationManager.NavigateTo("users");
    }

}
